<%- include('../partials/header') %>

  <main class="w-full px-4">
    <div class="w-full max-w-[1400px] mx-auto">
      <!-- Heading -->
      <div class="flex items-center justify-center text-[clamp(1.5rem,8vw,2.5rem)] uppercase text-gray-600 py-8 px-4 gap-2">
      <span>About <span class="text-black font-normal">US</span></span>
      <span class="w-[50px] h-[50px]">
        <img src="/assets/icons/hero-first-icon.svg" alt="Line Icon" class="w-full h-full">
      </span>
      </div>

      <!-- First Section -->
      <div class="flex items-center justify-around gap-4 py-8 flex-wrap">
        <!-- Image -->
        <div class="w-full max-w-[500px]">
          <img src="/assets/images/about_img.png" alt="About Us" class="w-full h-full object-cover">
        </div>
        <!-- Text -->
        <div class="w-full max-w-[750px] flex flex-col gap-8 leading-6 text-gray-600">
          <p> Forever was born out of a passion for innovation and a desire to revolutionize the way people shop online. Our journey began with a simple idea: to provide a platform where customers can easily discover, explore, and purchase a wide range of products from the comfort of their homes. <br><br> Since our inception, we've worked tirelessly to curate a diverse selection of high-quality products that cater to every taste and preference. From fashion and beauty to electronics and home essentials, we offer an extensive collection sourced from trusted brands and suppliers. </p>
          <strong class="text-[clamp(1.1rem,4vw,1.3rem)] text-gray-600">Our Mission</strong>
          <p>Our mission at Forever is to empower customers with choice, convenience, and confidence. We're dedicatedto providing a seamless shopping experience that exceeds expectations, from browsing and ordering todelivery and beyond.</p>
        </div>
      </div>

      <!-- Why Choose Us -->
      <div class="py-20 flex flex-col gap-8">
        <div class="text-gray-600 text-[clamp(1.5rem,8vw,2.5rem)]">
          <p>Why <span class="text-black">Choose Us</span></p>
        </div>
        <!-- Cards -->
        <div class="w-full min-h-[400px] border border-gray-300 flex flex-wrap">
          <!-- Card 1 -->
          <div class="flex flex-col justify-center gap-4 leading-6 text-gray-600 w-full flex-1 border-r border-gray-300 p-[clamp(1rem,4vw,6rem)]">
            <strong class="text-[1.2rem] font-medium text-gray-700">Quality Assurance:</strong>
            <p>We meticulously select and vet each product to ensure it meets our stringent quality standards.</p>
          </div>
          <!-- Card 2 -->
          <div class="flex flex-col justify-center gap-4 leading-6 text-gray-600 w-full flex-1 border-r border-gray-300 p-[clamp(1rem,4vw,6rem)]">
            <strong class="text-[1.2rem] font-medium text-gray-700">Convenience:</strong>
            <p>With our user-friendly interface and hassle-free ordering process, shopping has never been easier.</p>
          </div>
          <!-- Card 3 -->
          <div class="flex flex-col justify-center gap-4 leading-6 text-gray-600 w-full flex-1 p-[clamp(1rem,4vw,6rem)]">
            <strong class="text-[1.2rem] font-medium text-gray-700">Exceptional Customer Service:</strong>
            <p>Our team of dedicated professionals is here to assist you the way, ensuring your satisfaction is our toppriority. </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Subscribe Section -->
    <div class="bg-gray-100 py-16 px-4 text-center mt-8">
      <h2 class="text-[clamp(1.2rem,5vw,2rem)] text-gray-800 mb-2">Subscribe Now & Get <span class="text-gray-600">20% Off</span></h2>
      <p class="text-gray-500 mb-6 text-sm">Stay updated with our latest arrivals and exclusive offers.</p>
      <div class="flex justify-center max-w-[500px] mx-auto flex-wrap">
        <input type="email" name="email" placeholder="Enter your email" class="flex-1 px-4 py-3 border border-gray-300 outline-none text-sm min-w-[200px]" />
        <button type="submit"class="px-6 py-3 bg-black text-white text-xs font-semibold uppercase tracking-wider hover:bg-gray-800 transition">Subscribe</button>
      </div>
    </div>
  </main>


  <%- include('../partials/footer') %>